.social-btn-sp #social-links {
    margin: 0 auto;
    max-width: 500px;
}
.social-btn-sp #social-links ul li {
    display: inline-block;
}          
.social-btn-sp #social-links ul li a {
    padding: 15px;
    border: 1px solid #ccc;
    margin: 1px;
    font-size: 30px;
}
table #social-links{
    display: inline-table;
}
table #social-links ul li{
    display: inline;
}
table #social-links ul li a{
    padding: 5px;
    border: 1px solid #ccc;
    margin: 1px;
    font-size: 15px;
    background: #e3e3ea;
}